:root {
    --backgrounds: #121b2d;
    --backgrounds2: #234b6e;
    --textone: #b7cef1;
    --browndark: #4b4e54;
    --brownlight: #6e6658;
}

body {
    margin: 0 auto;
    background-color: var(--backgrounds);
    color: var(--textone);
    font-family: 'Cousine', monospace;
}

header, footer {
    padding: 5px;
    font-family: 'Cousine', monospace;
    background-color: #010f2b;
    background-image: linear-gradient(166deg, black 0%, #0d2169 74%);
    color: ghostwhite;
    text-align: center;
    max-width: 100%
}

footer {
    width: 100%;
    bottom: 0;
    position: fixed;
}
header > h1 {
    color: ghostwhite;
    text-align: left;
    padding-left: 40px;
    font-size: 40px;
}

nav {
    background: var(--backgrounds);
    display: flex;
    flex-wrap: wrap;
    max-width: 70%;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 16px;
    font-size: 20px;
    align-items: center;
    border-bottom: white solid 3px;
}


a {
    text-decoration: none;
    border-radius: 5px;
    color: var(--textone);
}

a:hover {
    color: ghostwhite;
}

#about {
    align-self: center;
}

.main, .mainIndex {
    max-width: 1090px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    font-family: 'Arvo', serif;
    padding-bottom: 100px;
}

.mainIndex {
    padding-left: 50px;
    padding-right: 50px;
}

.description > h3 {
    display: flex;
    flex-direction: row;
    color: ghostwhite;
    font-family: 'Cousine', monospace;
}

#honks {
    max-width: 600px;
    margin: 0 auto;
    padding-bottom: 20px;
    align-items: center;
}

.main > h3 {
    text-align: center;
    font-size: 35px;
    color: #f8f8ff;
}

#logIn {
    background: lightslategrey;
    border-radius: 5px;
    margin: 20px auto;
    max-width: 400px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 10px;
    font-family: 'Arvo', serif;
}
#logIn > label{
    align-self: center;
    color: ghostwhite;
    grid-column-start: 1
}

#logIn > input {
    color: ghostwhite;
    background-color: #010f2b;
    outline: none;
    font-family: 'Cousine', monospace;
    border: none;
    padding: 10px;
    font-size: 15px;
}

#logIn > input[type=submit] {
    border-radius: 5px;
    font-size:  20px;
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 4;
}

/* Form Stuff */

.formThing > .search {
    grid-row-start: 2;
}

.formThing {
    background: lightslategrey;
    border-radius: 5px;
    margin: 20px auto;
    max-width: 600px;
    padding: 20px;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    font-family: 'Arvo', serif;
}

.formThing > label{
    align-self: center;
    color: ghostwhite;
    grid-column-start: 1
}

.formThing > input {
    color: ghostwhite;
    background-color: #010f2b;
    outline: none;

    font-family: 'Cousine', monospace;
    border: none;
    padding: 10px;
    font-size: 15px;
}

.main > .sourceImage {
    width: 400px;
    margin: 0 auto;
    display: block;
}

.formThing > .submit {
    grid-column-start: 1;
    grid-column-end: 3;
}

/* SHOW PAGE STYLING (For specific stuff) */

.showMeme > img {
    width: 450px;
    margin: 0 auto;
    display: block;
}

.showMeme > h1 {
    text-align: center;
}

.buttons {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 10px;
    grid-template-rows: auto;
}

.buttons > form {
    border: none;
    text-align: center;
    width: 245px;
    border-radius: 5px;
    background: var(--backgrounds2);
    align-self: center;
    justify-self: center;
    font-family: 'Arvo', serif;
    font-size: 17px;
    padding: 10px;
    color: var(--textone)
}

.buttons > a {
    padding: 10px;
    background: var(--backgrounds2);
}
.buttons > form > input {
    background: none;
}

.buttons > form > input, .buttons > a {
    border: none;
    text-align: center;
    width: 245px;
    border-radius: 5px;
    align-self: center;
    justify-self: center;
    font-family: 'Arvo', serif;
    font-size: 17px;
    color: var(--textone)

}

.buttons > form:hover {
    color: var(--backgrounds);
}

.buttons > form > input:hover {
    color: var(--backgrounds);
    background: var(--textone);
    cursor: pointer;
}

.buttons > a:hover, .buttons > form:hover {
    background: var(--textone);
    color: var(--backgrounds);
    cursor: pointer;
}

/* INDEX PAGE STYLING (For specific stuff) */
#loggedIn {
    text-transform: capitalize;
    text-align: center;
    font-size: 20px;
}

.memeList {
    list-style-type: none;
    padding-left: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
    grid-row-gap: 20px;
    justify-items: center;
    align-items: center;
    grid-gap: 20px;
    grid-template-rows: auto;
}

.memeSpecific {
    background-color: var(--backgrounds2);
    padding: 10px;
    border-radius: 5px;
}

.memeSpecific > h3{
    text-align: center;
    color: ghostwhite;
}

.memeSpecific > img{
    display: block;
    max-width: 250px;
    min-width: 140px;
    margin: 0 auto;
}

.buyMe {
    border-top: ghostwhite solid 1px;
}
@media (max-width: 1130px) {
    small { font-size: 10px;}
    .main {
        width: 900px;
    }
}

@media (max-width: 1000px) {
    nav {
        font-size: 15px;
    }
    .main {
        width: 800px;
    }
}

@media (max-width: 800px) {
    nav {
        font-size: 20px;
        flex-direction: column;
    }
    .main {
        width: 500px;
    }

    .memeList {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* CELL PHONE MEDIA QUERIES */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3) {
    body {
        zoom: 180%;
    }
}

/* Portrait and Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 812px)
and (-webkit-min-device-pixel-ratio: 3) {
    body {
        zoom: 180%;
    }
}

@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2) {
    body {
        zoom: 180%;
    }
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2) {
    body {
        zoom: 180%;
    }
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2) {
    body {
        zoom: 180%;
    }
}